*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body{
  overflow-x: hidden;
}

/* Navbar Section */

#navbarS{
    background-color: rgb(184, 184, 184);
    opacity: 0.88;
    transition: all 0.1s ease-out;
}
#navbarS:hover{
    opacity: 1;
    transition: all 0.2s ease-in;
}
#navbarA{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: black;
}

#navbarA:hover{
  color: blue;
}


#navbarTitle{
    font-family: "Raleway", sans-serif;
    color: black;
    font-weight: 700;
}
#navbarNav{
    justify-content: end;
}

#logo{
    animation-name: logo-animation; /*This name is used to create an animation*/
    animation-duration: 3s; /*Animation run duration*/
}

#logo:hover{
    transform: rotate(
    360deg
  ); /*360-degree rotation when hovering over the image*/
  transition-duration: 1.5s;
}

@keyframes logo-animation {
    0% {
      left: 0px;
    } /*start*/
    50% {
      left: 200px;
      transform: rotate(360deg);
    }
    100% {
      left: 0px;
    } /*end*/
  }

.navbar-toggler{
  background-color: white;
}


.title {
  max-width: 1600px;
  width: 100%;
  max-height: 50px;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 7%;
  font-size: 40px;
  font-weight: 950;
  font-family: "Raleway", sans-serif;font-family: "Raleway", sans-serif;

}

/*********************************************** Hotels ***************************************************/



.accomms-container {
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 90px auto;
  padding: 0px 50px;
}

.accomm-container {
  background-color: transparent;
  width: 430px;
  height: 380px;
  perspective: 1000px;
  margin: 20px 20px;
}

.accomm-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.accomm-container:hover .accomm-inner {
  transform: rotateY(180deg);
}

.accomm-details h1{
  font-size: 25px !important;
}

.description h1{
  font-size: 25px;
}

a:link {
  color: white; 
  background-color: transparent; 
}

a:hover {
  color: red;
  background-color: transparent;
}

a:active {
  color: yellow;
  background-color: transparent;
}

.accomm-front,
.accomm-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.accomm-front {
  color: black;
  font-size: 10px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.accomm-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.accomm-details {
  max-width: 400px;
}

.accomm-back h1 {
  font-size: 25px;
  margin: 17px 0px;
}

.accomm-back ul {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.accomm-back ul li {
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
}

.book {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}

.book {
  margin: 40px 0px;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
}

.book:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



/* Contact Form */

#contactTitle{
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.container form{
background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
padding: 40px 20px 40px 20px;
border-radius: 35px;
border: 1.5px #000000 dashed;
max-width: 1100px;
width: 100%;
}

.container form:hover{
box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
transition-timing-function: linear;
transition-duration: 0.4s;
}

.container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-bottom: 50px;
}

.btn-outline-primary {
background-image: linear-gradient(
  to right,
  #1fa2ff 0%,
  #12d8fa 51%,
  #1fa2ff 100%
);
}
.btn-outline-primary {
padding: 10px 35px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
font-size: 17px;
font-weight: 600;
}

.btn-outline-primary:hover {
background-position: right center;
color: #fff;
text-decoration: none;
}

.button-more{
max-width: 1600px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-bottom: 50px;
}

.button-more a{
max-width: 300px;
width: 100%;
}


footer {
background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
background-color: rgba(0, 0, 0, 0.156);
max-width: 1600px;
width: 100%;
height: 60%;
margin: 0 auto;
padding: 50px 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.links-footer{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
color: #000000;
}

#item{
color: #000000;
}

#item:hover{
color: blue;
}


/*********************************************  @media  *******************************************************/
/*Apply this code only when the browser width is 700px and lees*/
@media (max-width: 700px) {
  .ms-3{
    font-size: 22px;
  }

  .navbar-nav li:hover{
    background-color: white;
  }
  #contactTitle{
    font-size: 35px;
    font-weight: 600;
  }
}

/*Apply this code only when the browser width is 1270px and lees*/
@media (max-width: 1270px) {
.title {
  text-align: center;
  text-decoration: underline solid;
}
#contactTitle{
  text-decoration: underline solid;
}

}

@media (max-width: 1200px) {


}