*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body{
  overflow-x: hidden;
}

/* Navbar Section */

#navbarS{
    background-color: rgb(184, 184, 184);
    opacity: 0.88;
    transition: all 0.1s ease-out;
}
#navbarS:hover{
    opacity: 1;
    transition: all 0.2s ease-in;
}
#navbarA{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: black;
}

#navbarA:hover{
  color: blue;
}


#navbarTitle{
    font-family: "Raleway", sans-serif;
    color: black;
    font-weight: 700;
}
#navbarNav{
    justify-content: end;
}

#logo{
    animation-name: logo-animation; /*This name is used to create an animation*/
    animation-duration: 3s; /*Animation run duration*/
}

#logo:hover{
    transform: rotate(
    360deg
  ); /*360-degree rotation when hovering over the image*/
  transition-duration: 1.5s;
}

@keyframes logo-animation {
    0% {
      left: 0px;
    } /*start*/
    50% {
      left: 200px;
      transform: rotate(360deg);
    }
    100% {
      left: 0px;
    } /*end*/
  }

.navbar-toggler{
  background-color: white;
}


/************************  Facilities     ***************************/
.title {
  max-width: 1600px;
  width: 100%;
  max-height: 50px;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 7%;
  font-size: 40px;
  font-weight: 950;
  font-family: "Raleway", sans-serif;font-family: "Raleway", sans-serif;

}

.about-outer-container{
  max-width: 1600px;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 30px;
}

.section-container {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  border-radius: 35px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: 1.5px #000000 dashed;
  transform: scale(1);
  transition-timing-function: linear;
  transition-duration: 0.4s;
}

.section-container:hover {
  transform: scale(1.1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.section-image {
  max-width: 400px;
  width: 100%;
  height: 410px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-right: 1.5px #000000 dashed;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.section-details {
  max-width: 700px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 30px 10px;
}

.section-details p {
  font-size: 18px;
  font-weight: 600;
  padding: 3px;
}

.book {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.book {
  margin: 10px;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 17px;
  font-weight: 600;
}

.book:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/******************Table***************************/

#units {
  max-width: 1200px;
  width: 100%;
}

#units th {
  border: 1px solid #ddd;
  padding: 12px 10px;
  background-color: #accbee;
  color: black;
  font-weight: 600;
}

#units tr:hover{
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#units tr:nth-child(even){
  background-color: #eee;
}

#units td {
  border: 1px solid #ddd;
  padding: 8px;
}


/* Contact Form */

#contactTitle{
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.container form{
background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
padding: 40px 20px 40px 20px;
border-radius: 35px;
border: 1.5px #000000 dashed;
max-width: 1100px;
width: 100%;
}

.container form:hover{
box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
transition-timing-function: linear;
transition-duration: 0.4s;
}

.container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-bottom: 50px;
}

.btn-outline-primary {
background-image: linear-gradient(
  to right,
  #1fa2ff 0%,
  #12d8fa 51%,
  #1fa2ff 100%
);
}
.btn-outline-primary {
padding: 10px 35px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
font-size: 17px;
font-weight: 600;
}

.btn-outline-primary:hover {
background-position: right center;
color: #fff;
text-decoration: none;
}


footer {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  background-color: rgba(0, 0, 0, 0.156);
  max-width: 1600px;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.links-footer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
}

#item{
  color: #000000;
}

#item:hover{
  color: blue;
}


/*********************************************  @media  *******************************************************/
/*Apply this code only when the browser width is 700px and lees*/
@media (max-width: 700px) {
  .ms-3{
    font-size: 22px;
  }

  .navbar-nav li:hover{
    background-color: white;
  }
  #contactTitle{
    font-size: 35px;
    font-weight: 600;
  }
}

/*Apply this code only when the browser width is 1270px and lees*/
@media (max-width: 1270px) {
.title {
  text-align: center;
  text-decoration: underline solid;
}
#contactTitle{
  text-decoration: underline solid;
}
.section-container:hover {
  transform: none;
}
}

@media (max-width: 1200px) {

.section-container {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 70px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #dfe6e9;
}

.section-image {
  max-width: 500px;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1.5px #000000 dashed;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 0px;
  border-right: 0px;
}
}